#!/bin/bash

SCRIPT_DIR=$(cd -- "$(dirname -- "$(readlink -f "${BASH_SOURCE[0]}" || ${BASH_SOURCE[0]})")" &>/dev/null && pwd)

if [[ $(hostname) == "arch" ]]; then
  # This is my home machine with two monitors
  DPI=140
  xrandr --output DisplayPort-0 --mode 3840x2160 --pos 0x1280 --primary
  xrandr --output DisplayPort-1 --mode 3840x2160 --pos 3840x0 --rotate right
elif [[ $(hostname) == "archvm"* ]]; then
  # Random Arch VMs in libvirt
  DPI=140
  xrandr --output Virtual-1 --mode 1920x1440 --primary
elif [[ $(hostname) == "framework" ]]; then
  # Framework laptop
  DPI=160
  xrandr --output eDP --mode 2256x1504 --primary
else
  DPI=96
fi

# Export DPI so that downstream programs (for example polybar) can use it
export DPI

# Update the DPI in the X resources
xrandr --dpi "$DPI"
xrdb -merge <(echo "Xft.dpi: $DPI")
xrdb -merge <(echo "*dpi: $DPI")

# Update the keyboard settings
"$SCRIPT_DIR"/../../bin/linux/.local/bin/update-kb-settings

# Sleep and screen saver
xset s 600 600
xset dpms 600 600 600

# Tweak screen color to be easier on the eyes
redshift -P -O 4500

# Start keyring and polkit auth agent
gnome-keyring-daemon --start --components=pkcs11,secrets
if [ -x /usr/lib/mate-polkit/polkit-mate-authentication-agent-1 ] && ! pgrep "polkit-mate" >/dev/null; then
  /usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &
  disown
fi

# Start nm-applet to display network connections in the tray
nm-applet &
disown

# Start regular applications that we want at startup
apps=("1password")
for app in "${apps[@]}"; do
  if [ -x "/usr/bin/$app" ] && ! pgrep "$app" >/dev/null; then
    "/usr/bin/$app" &
    disown
  fi
done
