#!/bin/bash

DPI=140

if [[ $(hostname) == "arch" ]]; then
    # This is my home machine with two monitors
    xrandr --output DisplayPort-0 --mode 3840x2160 --pos 0x1280 --primary
    xrandr --output DisplayPort-1 --mode 3840x2160 --pos 3840x0 --rotate right
elif [[ $(hostname) == "archvm"* ]]; then
    # Random Arch VMs in libvirt
    xrandr --output Virtual-1 --mode 1920x1440 --primary
fi

# Update the DPI in the X resources
xrandr --dpi "$DPI"
xrdb -merge <(echo "Xft.dpi: $DPI")
xrdb -merge <(echo "*dpi: $DPI")

xset r rate 180 50
xsetroot -cursor_name left_ptr

# If not running on my main desktop that has a programmed keychron keyboard, let's tweak
# a few keys.
if [[ $(hostname) != "arch" ]] && [[ $(hostname) != "archvm"* ]]; then
    # Turn CapsLock into Control, Control_L into Super_L and Super_L into Control_L
    # This is because:
    #   1. I have always used CapsLock as Control on the command line
    #   2. I have used macs forever and have that Command key location wired in my fingers
    #   3. We need a key to act as Super mod for the window manager (Control_L here)

    xmodmap -e "clear lock"
    xmodmap -e "clear control"
    xmodmap -e "clear mod4"

    # Set Left Control to Left Super
    xmodmap -e "keycode 37 = Super_L"
    # Set Caps Lock to Left Control
    xmodmap -e "keycode 66 = Control_L"
    # Set Left Super to Left Control
    xmodmap -e "keycode 133 = Control_L"

    xmodmap -e "add control = Control_L Control_R"
    xmodmap -e "add mod4 = Super_L Super_R"
fi

# Sleep and screen saver
xset s 1800 1800
xset dpms 1800 1800 1800

# Tweak screen color to be easier on the eyes
redshift -P -O 4500

# Start keyring and polkit auth agent
gnome-keyring-daemon --start --components=pkcs11,secrets
[ -x /usr/lib/mate-polkit/polkit-mate-authentication-agent-1 ] && /usr/lib/mate-polkit/polkit-mate-authentication-agent-1 & disown

# Start regular applications that we want at startup
[ -x /usr/bin/dropbox ] && pgrep dropbox > /dev/null || /usr/bin/dropbox & disown
[ -x /usr/bin/1password ] && pgrep 1password > /dev/null || /usr/bin/1password & disown
