dpi=140

xrandr --output DisplayPort-0 --mode 3840x2160 --pos 0x1280 --primary
xrandr --output DisplayPort-1 --mode 3840x2160 --pos 3840x0 --rotate right

xrandr --dpi "$dpi"
xrdb -merge <(echo "Xft.dpi: $dpi")
xrdb -merge <(echo "*dpi: $dpi")

xset r rate 180 50
