config/common/.config/fish/fish_variables
config/common/.config/nvim/plugged
config/common/.config/tmux/plugins
config/common/.ssh/known_hosts
config/common/.ssh/ssh_auth_sock
config/linux/.config/gtk-3.0/bookmarks
config/linux/.config/gtk-3.0/servers
