settings set target.load-script-from-symbol-file true

# This breaks objc debugging (could not load any Objective-C class information).
# I think I needed this to debug on VMWare over the gdb stub but I'm not sure so disabling for now...
# settings set plugin.process.gdb-remote.target-definition-file ~/.config/lldb/x86_64_target_definition.py

# This tells lldb to look for build artifacts for kexts in ~/Downloads
settings set platform.plugin.darwin-kernel.kext-directories ~/Downloads

command source ~/.config/lldb/alias

command script import ~/.config/lldb/block.py
# command script import ~/.config/lldb/crashlog.py
# command script import ~/.config/lldb/mach_o.py
# command script import ~/.config/lldb/symbolication.py
